*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*~.nib
*.pbxuser
*.mode1
*.pbxuser
*.mode1v3
build
xcuserdata
*.xcworkspacedata
*.xcworkspace
.idea
*.xcuserdata
