<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockComment2:End</key>
	<string>?&gt;</string>
	<key>BlockComment2:Start</key>
	<string>&lt;?</string>
	<key>BlockComment:End</key>
	<string>--&gt;</string>
	<key>BlockComment:Start</key>
	<string>&lt;!--</string>
	<key>Identifiers</key>
	<array>
		<string>&amp;lt;</string>
		<string>&amp;gt;</string>
		<string>&amp;amp;</string>
		<string>&amp;auml;</string>
		<string>&amp;ouml;</string>
		<string>&amp;uuml;</string>
		<string>&amp;Auml;</string>
		<string>&amp;Ouml;</string>
		<string>&amp;Uuml;</string>
	</array>
	<key>String:EscapeChar</key>
	<string></string>
	<key>Tag:End</key>
	<string>&gt;</string>
	<key>Tag:IgnoredStyle</key>
	<string>SyntaxColoring:DoubleQuotedString</string>
	<key>Tag:Start</key>
	<string>&lt;</string>
</dict>
</plist>
