<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockComment:End</key>
	<string>*/</string>
	<key>BlockComment:Start</key>
	<string>/*</string>
	<key>Identifiers</key>
	<array>
		<string>super</string>
		<string>id</string>
		<string>void</string>
		<string>self</string>
		<string>return</string>
		<string>@selector</string>
		<string>@interface</string>
		<string>@protocol</string>
		<string>@implementation</string>
		<string>enum</string>
		<string>typedef</string>
		<string>unsigned</string>
		<string>signed</string>
		<string>char</string>
		<string>unichar</string>
		<string>long</string>
		<string>int</string>
		<string>short</string>
		<string>float</string>
		<string>double</string>
		<string>@end</string>
		<string>nil</string>
		<string>else</string>
		<string>if</string>
		<string>do</string>
		<string>while</string>
		<string>for</string>
		<string>break</string>
		<string>case</string>
		<string>default</string>
		<string>continue</string>
		<string>goto</string>
		<string>switch</string>
		<string>IBAction</string>
		<string>IBOutlet</string>
		<string>BOOL</string>
		<string>YES</string>
		<string>NO</string>
		<string>NS_DURING</string>
		<string>NS_HANDLER</string>
		<string>NS_ENDHANDLER</string>
		<string>NS_VOIDRETURN</string>
		<string>NS_VALUERETURN</string>
	</array>
	<key>Identifiers:Charset</key>
	<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
	<key>OneLineComment:Start</key>
	<string>//</string>
	<key>PreprocessorDirectives</key>
	<array>
		<string>#include</string>
		<string>#import</string>
		<string>#define</string>
		<string>#ifdef</string>
		<string>#if</string>
		<string>#else</string>
		<string>#elif</string>
		<string>#endif</string>
		<string>#undef</string>
	</array>
</dict>
</plist>
